body {
	background-color: #f9f5f5;
	margin:40px auto;
	max-width:75%;
	font-size:18px;
}

h1 {
	text-align: center;
	color: #161616;
}

h2 {
	color: #191919;
}

h3 {
	color: #202020;
}

h4 {
	color:#282828;
}

p, li {
	color: #222222;
}

a {
	color: #203000;
}

div {
	color: #212121;
}

table, tr, td, th {
    background-color: #ff4444;
	border: 1px solid;
}

tr, td, th {
	background-color: #f9f5f5;
}